<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container-fluid forecast">

    <div th:object="${weather}" >

        <!-- current forecast -->

        <div class="row current-forecast-main" >
            <div class="col-lg-12 current-forecast-main-col" th:id="*{currently.icon}">
                <img class="current-weather-icon" th:src="@{'/img/weather-icons/' + *{currently.icon} + '.svg'}"/>
                <div class="summary"><h4 th:text="${city}"></h4><h1 class="summary" th:text="*{currently.summary}"></h1></div>

                <div class="temp">
                    <h1 th:text="*{currently.temperature}"></h1>
                    <h4 th:text="'Feels like ' + *{currently.apparentTemperature}"></h4>
                </div>

            </div>
        </div>
        <div class="row current-forecast-sub">
            <div class="col-lg-12 current-forecast-sub-col">

                <div class="center-col">
                    <ul class="forecast-nav list-inline white" th:unless="${user}">
                        <li><a href="/login">Login</a></li>
                    </ul>
                    <ul class="forecast-nav list-inline white" th:if="${user}">
                        <li><a  href="/logout">Logout</a></li>
                        <li><a href="/location" >Location</a></li>
                    </ul>
                    <div class="title-current"><h1 >Today</h1></div>
                    <span><p class="key icon-rainy2" > Rain Chance</p><p class="value" th:text="*{currently.precipProbability} + '%'"></p></span>
                    <span><p class="key icon-wind" > Wind</p><p class="value" th:text="*{currently.windSpeed}"></p></span>
                    <span><p class="key icon-droplet" > Humidity</p><p class="value" th:text="*{currently.humidity} + '%'"></p></span>
                    <span><p class="key icon-cloud7" > Dew Point</p><p class="value" th:text="*{currently.dewPoint} + '%'"></p></span>
                    <span><p class="key icon-sun" > UV Index</p><p class="value" th:text="*{currently.uvIndex}"></p></span>
                    <span><p class="key icon-eye"> Visibility</p><p class="value" th:text="*{currently.visibility}"></p></span>
                </div>
            </div>
        </div>

        <!-- daily forecast -->
        <div class="row daily-forecast-article" th:object="${weather.hourly}">

            <div class="col-md-2 daily-forecast" th:each="hour : *{data}" > <!-- th:if="${itrStat.index} < 12" -->
                <h4 th:text="${hour.time}"></h4>
                <div class="daily-forecast-card">
                    <img th:src="@{'/img/weather-icons/' + ${hour.icon} + '.svg'}"/>
                    <h4 class="day-summary" th:text="${hour.summary}"></h4>
                    <div class="day-temp">
                        <h3 th:text="${hour.temperature}"></h3>
                    </div>

                </div>
                <div class="day-forecast">
                    <p class="key icon-sun3"> Real Feel</p><p class="value" th:text="${hour.apparentTemperature}"></p>

                    <p class="key icon-rainy5 "> Rain Chance</p><p class="value" th:text="${hour.precipProbability}"></p>
                    <p class="key icon-weather-windy"> Wind</p><p class="value" th:text="${hour.windSpeed}"></p>
                    <p class="key icon-droplet"> Humidity</p><p class="value" th:text="${hour.humidity}"></p>
                    <p class="key icon-sun"> UV Index</p><p class="value" th:text="${hour.uvIndex}"></p>
                </div>
            </div>

        </div>

        <div class="row daily-forecast-header">
            <h2>Weekly Overview</h2>
            <img class="week-weather-icon" th:src="@{'/img/weather-icons/' + ${weather.daily.icon} + '.svg'}"/>
            <h2 th:text="${weather.daily.summary}"></h2>
        </div>
        <div class="row daily-forecast-article" th:object="${weather.daily}">

            <div class="col-md-3 daily-forecast" th:each="day : *{data}" > <!-- th:if="${itrStat.index} < 12" -->
                <h3 th:text="${day.time}"></h3>
                <div class="daily-forecast-card">
                    <img th:src="@{'/img/weather-icons/' + ${day.icon} + '.svg'}"/>
                    <h4 class="day-summary" th:text="${day.summary}"></h4>
                    <div class="day-temp">
                        <h3 th:text="${day.temperatureMax}"></h3>
                    </div>

                </div>
                <div class="day-forecast">
                    <p class="key icon-sun3"> Real Feel</p><p class="value" th:text="${day.apparentTemperatureMax}"></p>

                    <p class="key icon-rainy5 "> Rain Chance</p><p class="value" th:text="${day.precipProbability}"></p>
                    <p class="key icon-weather-windy"> Wind</p><p class="value" th:text="${day.windSpeed}"></p>
                    <p class="key icon-droplet"> Humidity</p><p class="value" th:text="${day.humidity}"></p>
                    <p class="key icon-sun"> UV Index</p><p class="value" th:text="${day.uvIndex}"></p>
                </div>
            </div>

        </div>

        <footer class="row">
            <div class="col-md-4">
                <a href="https://darksky.net/poweredby/"><img th:src="@{../img/poweredby-darkbackground.png}" /></a>

            </div>
            <!--<div class="col-md-4"><h1>Constructed by: Brandon Perez</h1></div>-->
        </footer>
    </div>

</body>
</html>