<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="post" id="form" action="" th:object="${User}">
        <label th:for="username">Username:</label>
        <input type="text" name="username" />

        <label th:for="email">Email:</label>
        <input type="email" name="email"/>

        <label>Password:</label>
        <input type="password" name="password" />

        <label>Verify Password:</label>
        <input type="password" name="validate" />

        <input type="submit" value="submit" />

    </form>

</body>
</html>