<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="login">
    <a href="/">Forecast</a>
    <span th:text="${error}" class="error"></span>
    <form method="post" id="form" action="" th:object="${User}">
      <div class="form-group">
            <label th:for="username">Username:</label>
            <input type="text" name="username" class="form-control" />
          <div class="form-group">
            <label th:for="email">Email:</label>
            <input type="email" name="email" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Verify Password:</label>
            <input type="password" name="validate" class="form-control"/>
        </div>
            <input type="submit" value="submit" class="btn btn-default" />

    </form>
    <a href="/login" >Login</a>
</div>
</body>
</html>