<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>

</head>
<body>
<script th:src="@{/js/maps.js}"></script>
<div class="row">
<div class="col-md-3">
    <div class="location-controls" >
    <ul class="location-nav list-inline" th:unless="${user}"><li><a href="/login">Login</a></li></ul>
    <ul class="location-nav list-inline" th:if="${user}">
        <li><a  href="/logout">Logout</a></li>
        <li><a href="/" >Forecast</a></li>
    </ul>
<div class="pac-card" id="pac-card">
    <div>
        <div id="title">
            Autocomplete search
        </div>
        <div id="type-selector" class="pac-controls">
            <input type="radio" name="type" id="changetype-all" checked="checked" />
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment" />
            <label for="changetype-establishment">Establishments</label>

            <input type="radio" name="type" id="changetype-address" />
            <label for="changetype-address">Addresses</label>

            <input type="radio" name="type" id="changetype-geocode" />
            <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="strict-bounds-selector" class="pac-controls">
            <input type="checkbox" id="use-strict-bounds" value="" />
            <label for="use-strict-bounds">Strict Bounds</label>
        </div>
    </div>
    <div id="pac-container">
        <input id="pac-input" type="text"
               placeholder="Enter a location" />
    </div>
</div>
    <div>
        <form method="post" id="save" name="saveForm" action="/location">
            <input type="hidden" name="city" id="city"/>
            <input type="hidden" name="state" id="state"/>
            <input type="hidden" name="country" id="country"/>
            <input type="hidden" name="latSave" id="latSave"/>
            <input type="hidden" name="lngSave" id="lngSave"/>

            <button class="btn" onclick="saveLocation()" type="button" >Save Location</button>
        </form>
        <form method="post" action="/" id="forecast" name="getForecast">
            <input type="hidden" name="latitude" id="latCast"/>
            <input type="hidden" name="longitude" id="lngCast"/>



        </form>
        <button class="btn" onclick="getLocationForecast()" >Get Location Forecast</button>
        <button class="btn" onclick="setMarker()">Drop Marker</button>
    </div>
    <div th:object="${user}">
        <ul class="list-unstyled">
            <li  th:each="location : *{locations}" >
                <h5 th:text="${location.city} + ', ' + ${location.administrative_area}"></h5>
                <form method="post" action="/">
                    <input type="hidden" name="latitude" th:value="${location.latitude}"/>
                    <input type="hidden" name="longitude" th:value="${location.longitude}"/>

                    <input type="submit" class="btn btn-success" th:value="'Get ' + ${location.city} + ' Forecast'" />
                </form>

                <a th:href="'/location/' + ${location.Id}" class="btn btn-danger">Remove</a>

            </li>
        </ul>
    </div>
    </div>
</div>
<div id="map" class="col-lg-9"></div>
</div>
<div th:if="${location}">
<script th:inline="javascript">function setMap() {
	setTimeout(function() {
	    marker.setPosition({lat: [[${location.latitude}]], lng: [[${location.longitude}]] });
	    map.setCenter({lat: [[${location.latitude}]], lng: [[${location.longitude}]] });
    }, 0);
}

</script>
</div>
<div th:unless="${location}">
    <script th:inline="javascript">function setMap() {
	setTimeout(function() {
	    marker.setPosition({lat: [[${latitude}]], lng: [[${longitude}]] });
	    map.setCenter({lat: [[${latitude}]], lng: [[${longitude}]] });
    }, 0);
}</script>
</div>
</body>
</html>